/*Modal Window Product*/

.woman-dresses-products__modal-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.woman-dresses-products-modal-window__body {
  background-color: #fefefe;
  margin: 50px auto 0px auto;
  padding: 20px 20px 20px 20px;
  max-width: 1200px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 770px) {
  .woman-dresses-products-modal-window__body {
    max-width: 570px;
    flex-direction: column;
    margin: 30px auto 0px auto;
    padding: 40px 20px 20px 20px;
  }
}

.woman-dresses-products-modal-window__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  max-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.woman-dresses-products-modal-window-close-btn__icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.woman-dresses-products-modal-window__icon {
  flex: 0 1 40%;
}

.woman-dresses-products-modal-window__icon img {
  width: 100%;
}

.woman-dresses-products-modal-window__content {
  flex: 0 1 450px;
  padding: 10px 0px 0px 20px;
}

@media (max-width: 770px) {
  .woman-dresses-products-modal-window__content {
    padding: 10px 0px 0px 0px;
  }
}

.woman-dresses-products-modal-window__title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  margin: 0px 0px 10px 0px;
}

.woman-dresses-products-modal-window__price {
  display: flex;
  flex-direction: row;
  font-family: "montserrat_alternatesbold";
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  line-height: 18px;
}

.woman-dresses-products-modal-window-price__new-price {
  margin: 0px 10px 0px 0px;
}

.woman-dresses-products-modal-window-price__old-price {
  text-decoration: line-through;
  color: #b5b6b5;
}

.woman-dresses-products-modal-window-price__color {
  margin: 0px 0px 20px 0px;
}

.woman-dresses-products-modal-window-price-color__title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.woman-dresses-products-modal-window-price-color__select {
  border: 1px solid #b5b6b5;
  min-height: 45px;
  width: 100%;
  background: transparent;
  cursor: pointer;
  padding: 0px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-family: "montserrat_alternatesregular";
}

.woman-dresses-products-modal-window-price-color__select:focus,
.woman-dresses-products-modal-window-price-color__select:hover {
  border: 1px solid #000000;
  transition: border 0.5s;
}

.woman-dresses-products-modal-window-price__size {
  margin: 0px 0px 20px 0px;
}

.woman-dresses-products-modal-window-price-size__title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.woman-dresses-products-modal-window-price-size__select {
  border: 1px solid #b5b6b5;
  min-height: 45px;
  width: 100%;
  background: transparent;
  cursor: pointer;
  padding: 0px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-family: "montserrat_alternatesregular";
}

.woman-dresses-products-modal-window-price-size__select:hover,
.woman-dresses-products-modal-window-price-size__select:focus {
  border: 1px solid #000000;
  transition: border 0.5s;
}

.woman-dresses-products-modal-window__add-to-cart {
  display: flex;
  margin: 0px 0px 20px 0px;
}

.woman-dresses-products-modal-window-add-to-cart__quantity {
  flex: 1 0 90px;
  border: 1px solid rgb(173, 173, 173);

  min-height: 45px;
  margin: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border-radius: 5px;
}

.woman-dresses-products-modal-window-add-to-cart-quantity__minus {
  width: 22px;
  height: 22px;
  background: transparent;
}

.woman-dresses-products-modal-window-add-to-cart-quantity__minus img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.woman-dresses-products-modal-window-add-to-cart-quantity__value {
  font-size: 14px;
}

.woman-dresses-products-modal-window-add-to-cart-quantity__plus {
  width: 22px;
  height: 22px;
  background: transparent;
}

.woman-dresses-products-modal-window-add-to-cart-quantity__plus img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.woman-dresses-products-modal-window-add-to-cart__add {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
}

.woman-dresses-products-modal-window-add-to-cart-add__btn {
  width: 100%;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid black;
  color: #000000;
  background: transparent;
}

.woman-dresses-products-modal-window-add-to-cart-add__btn:hover {
  background: #000000;
  color: #fff;
  transition: background 0.5s;
}

.woman-dresses-products-modal-window-add-to-cart-add__btn--disable {
  background: #000000;
  color: #fff;
}

/*Loader Modal Window*/

.woman-dresses-products-modal-window-add-to-cart-add__loader {
  display: none;
  margin: 0px auto 0px auto;
  border: 3px solid #dddddd;
  border-radius: 50%;
  border-top: 3px solid #000000;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.woman-dresses-products-modal-window__wishlist {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.woman-dresses-products-modal-window__wishlist:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.woman-dresses-products-modal-window-wishlist__icon {
  display: block;
  margin: 0px 10px 0px 0px;
  width: 15px;
  height: 15px;
}

.woman-dresses-products-modal-window-wishlist__title {
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
}

.woman-dresses-products-modal-window__fit-guide {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.woman-dresses-products-modal-window__fit-guide:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.woman-dresses-products-modal-window-fit-guide__icon {
  display: block;
  margin: 0px 10px 0px 0px;
  width: 15px;
  height: 15px;
}

.woman-dresses-products-modal-window-fit-guide__title {
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
}

.woman-dresses-products-modal-window__drop-down-menu {
}

.woman-dresses-products-modal-window-drop-down-menu__open-btn {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
  position: relative;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background: transparent;
}

.woman-dresses-products-modal-window-drop-down-menu__open-btn:not(:last-child) {
  border-top: 1px solid #b5b6b5;
}

.woman-dresses-products-modal-window-drop-down-menu__open-btn:not(
    :first-child
  ) {
  margin: -1px 0px 0px 0px;
}

.woman-dresses-products-modal-window-drop-down-menu__open-btn::after {
  content: url("../../../images/products/for-woman/dresses/dresses-plus-product-drop-down.svg");
  -webkit-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
  position: absolute;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
}

.woman-dresses-products-modal-window-drop-down-menu__open-btn--active::after {
  content: url("../../../images/products/for-woman/dresses/dresses-minus-product-drop-down.svg");
  -webkit-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}

.woman-dresses-products-modal-window-drop-down-menu__panel {
  list-style-type: square;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 20px;
  list-style: disc;
}

.woman-dresses-products-modal-window-drop-down-menu-panel__item {
  margin: 0px 0px 5px 0px;
  list-style: disc;
}
