.footer {
  background: #fff;
  background: linear-gradient(
    45deg,
    rgba(238, 235, 236, 1) 20%,
    rgba(209, 204, 201, 1) 100%
  );
}

.footer__top {
  border-bottom: 1px solid #acacac;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
  padding: 50px 0px;
}

.footer__column {
  min-width: 250px;
  flex: 0 1 25%;
  padding: 0px 15px;
}

.footer__column:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.footer__label {
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  text-transform: uppercase;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__link {
  font-size: 14px;
  color: black;
  line-height: 18px;
  letter-spacing: 1.2px;
  text-decoration: underline;
}

.menu-footer__link:hover {
  text-decoration: none;
}

.footer__social {
  display: flex;
  align-items: center;
}

.social__item {
  width: 20px;
  height: 20px;
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.social__item img {
  width: 100%;
}

.footer__content {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 570px) {
  .footer__content {
    min-height: 60px;
    flex-direction: column;
    padding: 10px 0px;
  }
}
.footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__terms {
  margin: 0px 50px 0px 0px;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 15px;
}

@media (max-width: 570px) {
  .footer__terms {
    margin: 0px 30px 0px 0px;
  }
}

.footer__privacy {
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 15px;
}

.footer__rights {
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 15px;
}

.footer__rights:hover,
.footer__terms:hover,
.footer__privacy:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s;
}
