@font-face {
  font-family: "montserrat_alternatesregular";
  src: url("../fonts/montserrat/montserratalternates-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/montserratalternates-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_alternatesbold";
  src: url("../fonts/montserrat/montserratalternates-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/montserratalternates-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #f7f7f7;
  height: 100%;
  line-height: 1;
  font-family: "montserrat_alternatesregular";
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1720px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

main {
  flex: 1 1 auto;
}
