.main__contacts-addresses {
  margin: 40px 0px 0px 0px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.contacts-addresses__body {
  display: flex;
  flex-direction: row;
  display: flex;
  margin: 0px -15px 0px -15px;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.contacts-addresses__column {
  padding: 0px 15px;
  flex: 0 1 25%;
  min-width: 280px;
}

@media (max-width: 1118px) {
  .contacts-addresses__column:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

.contacts-addresses__title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
  letter-spacing: 0.8px;
  line-height: 22px;
}

@media (max-width: 650px) {
  .contacts-addresses__title {
    font-size: 18px;
  }
}

.contacts-addresses__number {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
  cursor: pointer;
  line-height: 18px;
  letter-spacing: 0.5px;
}

@media (max-width: 650px) {
  .contacts-addresses__number {
    font-size: 12px;
  }
}

.contacts-addresses__email {
  font-size: 14px;
  cursor: pointer;
  line-height: 18px;
  letter-spacing: 0.5px;
}

@media (max-width: 650px) {
  .contacts-addresses__email {
    font-size: 12px;
  }
}

.contacts-addresses__number:hover,
.contacts-addresses__email:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}
